    {% if settings.instagram_url %}
    <a href="{{ settings.instagram_url }}" target="_blank" class="relative  text-secondary-navy hover:bg-primary-lightblue text-lg font-extrabold uppercase border-2 border-secondary-navy px-5 py-[10px] rounded-[5px] flex items-center gap-[5px] 
        shadow-[3px_3px_0px_0px_#f5f5f5,3px_3px_0px_2px_#003354] hover:shadow-[6px_8px_0px_0px_#0b4166,6px_8px_0px_2px_#003354] hover:translate-x-[-3px] hover:translate-y-[-3px] transition duration-200">
        Instagram
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3C17.3261 3 18.5979 3.52678 19.5355 4.46447C20.4732 5.40215 21 6.67392 21 8V16C21 17.3261 20.4732 18.5979 19.5355 19.5355C18.5979 20.4732 17.3261 21 16 21H8C6.67392 21 5.40215 20.4732 4.46447 19.5355C3.52678 18.5979 3 17.3261 3 16V8C3 6.67392 3.52678 5.40215 4.46447 4.46447C5.40215 3.52678 6.67392 3 8 3H16ZM16 5H8C7.20435 5 6.44129 5.31607 5.87868 5.87868C5.31607 6.44129 5 7.20435 5 8V16C5 16.7956 5.31607 17.5587 5.87868 18.1213C6.44129 18.6839 7.20435 19 8 19H16C16.7956 19 17.5587 18.6839 18.1213 18.1213C18.6839 17.5587 19 16.7956 19 16V8C19 7.20435 18.6839 6.44129 18.1213 5.87868C17.5587 5.31607 16.7956 5 16 5ZM12 8C13.0609 8 14.0783 8.42143 14.8284 9.17157C15.5786 9.92172 16 10.9391 16 12C16 13.0609 15.5786 14.0783 14.8284 14.8284C14.0783 15.5786 13.0609 16 12 16C10.9391 16 9.92172 15.5786 9.17157 14.8284C8.42143 14.0783 8 13.0609 8 12C8 10.9391 8.42143 9.92172 9.17157 9.17157C9.92172 8.42143 10.9391 8 12 8ZM12 10C11.4696 10 10.9609 10.2107 10.5858 10.5858C10.2107 10.9609 10 11.4696 10 12C10 12.5304 10.2107 13.0391 10.5858 13.4142C10.9609 13.7893 11.4696 14 12 14C12.5304 14 13.0391 13.7893 13.4142 13.4142C13.7893 13.0391 14 12.5304 14 12C14 11.4696 13.7893 10.9609 13.4142 10.5858C13.0391 10.2107 12.5304 10 12 10ZM16.5 6.5C16.7652 6.5 17.0196 6.60536 17.2071 6.79289C17.3946 6.98043 17.5 7.23478 17.5 7.5C17.5 7.76522 17.3946 8.01957 17.2071 8.20711C17.0196 8.39464 16.7652 8.5 16.5 8.5C16.2348 8.5 15.9804 8.39464 15.7929 8.20711C15.6054 8.01957 15.5 7.76522 15.5 7.5C15.5 7.23478 15.6054 6.98043 15.7929 6.79289C15.9804 6.60536 16.2348 6.5 16.5 6.5Z" fill="currentColor"/>
        </svg>
    </a>
    {% endif %}
    {% if settings.tiktok_url %}
    <a href="{{ settings.tiktok_url }}" target="_blank" class="relative  text-secondary-navy hover:bg-primary-lightblue text-lg font-extrabold uppercase border-2 border-secondary-navy px-5 py-[10px] rounded-[5px] flex items-center gap-[5px] 
        shadow-[3px_3px_0px_0px_#f5f5f5,3px_3px_0px_2px_#003354] hover:shadow-[6px_8px_0px_0px_#0b4166,6px_8px_0px_2px_#003354] hover:translate-x-[-3px] hover:translate-y-[-3px] transition duration-200">
        Tiktok
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.6002 5.82C15.9167 5.03953 15.5401 4.0374 15.5402 3H12.4502V15.4C12.4268 16.0712 12.1437 16.7071 11.6605 17.1735C11.1773 17.6399 10.5318 17.9004 9.86016 17.9C8.44016 17.9 7.26016 16.74 7.26016 15.3C7.26016 13.58 8.92016 12.29 10.6302 12.82V9.66C7.18016 9.2 4.16016 11.88 4.16016 15.3C4.16016 18.63 6.92016 21 9.85016 21C12.9902 21 15.5402 18.45 15.5402 15.3V9.01C16.7932 9.90985 18.2975 10.3926 19.8402 10.39V7.3C19.8402 7.3 17.9602 7.39 16.6002 5.82Z" fill="currentColor"/>
        </svg>
    </a>
    {% endif %}
    {% if settings.facebook_url %}
        <a href="{{ settings.facebook_url }}" target="_blank" class="relative  text-secondary-navy hover:bg-primary-lightblue text-lg font-extrabold uppercase border-2 border-secondary-navy px-5 py-[10px] rounded-[5px] flex items-center gap-[5px] 
        shadow-[3px_3px_0px_0px_#f5f5f5,3px_3px_0px_2px_#003354] hover:shadow-[6px_8px_0px_0px_#0b4166,6px_8px_0px_2px_#003354] hover:translate-x-[-3px] hover:translate-y-[-3px] transition duration-200">
        facebook
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 13.5H16.5L17.5 9.5H14V7.5C14 6.47 14 5.5 16 5.5H17.5V2.14C17.174 2.097 15.943 2 14.643 2C11.928 2 10 3.657 10 6.7V9.5H7V13.5H10V22H14V13.5Z" fill="currentColor"/>
        </svg>
    </a>
    {% endif %}
    {% if settings.facebook_url %}
        <a href="{{ settings.spotify_url }}" target="_blank" class="relative  text-secondary-navy hover:bg-primary-lightblue text-lg font-extrabold uppercase border-2 border-secondary-navy px-5 py-[10px] rounded-[5px] flex items-center gap-[5px] 
        shadow-[3px_3px_0px_0px_#f5f5f5,3px_3px_0px_2px_#003354] hover:shadow-[6px_8px_0px_0px_#0b4166,6px_8px_0px_2px_#003354] hover:translate-x-[-3px] hover:translate-y-[-3px] transition duration-200">
        Spotify
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_104_45)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.1409 12.0017C2.1409 9.38698 3.1796 6.87934 5.0285 5.03045C6.87739 3.18156 9.38503 2.14286 11.9998 2.14286C14.6145 2.14286 17.1221 3.18156 18.971 5.03045C20.8199 6.87934 21.8586 9.38698 21.8586 12.0017C21.8586 14.6164 20.8199 17.1241 18.971 18.973C17.1221 20.8219 14.6145 21.8606 11.9998 21.8606C9.38503 21.8606 6.87739 20.8219 5.0285 18.973C3.1796 17.1241 2.1409 14.6164 2.1409 12.0017ZM11.9998 0C10.4237 -2.34855e-08 8.86302 0.310433 7.4069 0.913576C5.95079 1.51672 4.62773 2.40076 3.51327 3.51522C2.39881 4.62968 1.51477 5.95274 0.911623 7.40886C0.30848 8.86497 -0.00195312 10.4256 -0.00195312 12.0017C-0.00195312 13.5778 0.30848 15.1385 0.911623 16.5946C1.51477 18.0507 2.39881 19.3737 3.51327 20.4882C4.62773 21.6027 5.95079 22.4867 7.4069 23.0899C8.86302 23.693 10.4237 24.0034 11.9998 24.0034C15.1828 24.0034 18.2355 22.739 20.4863 20.4882C22.737 18.2375 24.0015 15.1848 24.0015 12.0017C24.0015 8.81866 22.737 5.76598 20.4863 3.51522C18.2355 1.26446 15.1828 4.74312e-08 11.9998 0ZM6.55519 9.56057C10.8203 8.74629 14.0843 9.18343 18.1438 11.3451C18.4447 11.5054 18.7971 11.5395 19.1232 11.44C19.4494 11.3405 19.7226 11.1156 19.8829 10.8146C20.0432 10.5136 20.0773 10.1613 19.9778 9.83512C19.8783 9.50896 19.6533 9.2357 19.3523 9.07543C14.77 6.636 10.9078 6.10971 6.07176 7.03543C5.74205 7.1048 5.45274 7.30083 5.26608 7.58134C5.07943 7.86185 5.01035 8.20442 5.0737 8.53535C5.13706 8.86628 5.32778 9.15911 5.60485 9.35084C5.88191 9.54257 6.22317 9.61789 6.55519 9.56057ZM13.2872 18.1354C11.4289 17.2869 10.1723 17.0469 8.23862 17.2851C7.90013 17.3267 7.55897 17.2322 7.29021 17.0222C7.02144 16.8123 6.84708 16.5042 6.80548 16.1657C6.76388 15.8272 6.85844 15.4861 7.06838 15.2173C7.27831 14.9485 7.58641 14.7742 7.9249 14.7326C10.3918 14.4291 12.1249 14.7771 14.3552 15.7954C14.6655 15.9371 14.9068 16.1961 15.0261 16.5157C15.1454 16.8353 15.1328 17.1891 14.9912 17.4994C14.8496 17.8097 14.5905 18.0511 14.2709 18.1703C13.9513 18.2896 13.5975 18.2771 13.2872 18.1354ZM7.48948 13.3063C10.5066 12.7063 12.586 13.2583 16.066 14.94C16.3718 15.0797 16.72 15.094 17.0362 14.9801C17.3524 14.8662 17.6114 14.6329 17.7577 14.3304C17.904 14.0278 17.9261 13.68 17.8192 13.3614C17.7122 13.0428 17.4847 12.7787 17.1855 12.6257C13.474 10.8309 10.7895 10.0286 6.9889 10.7829C6.82055 10.8128 6.65985 10.876 6.51623 10.9688C6.37261 11.0616 6.24894 11.1822 6.15247 11.3234C6.056 11.4646 5.98866 11.6236 5.9544 11.7911C5.92013 11.9586 5.91964 12.1313 5.95293 12.299C5.98623 12.4668 6.05264 12.6262 6.1483 12.7679C6.24395 12.9097 6.36692 13.0309 6.51001 13.1245C6.65309 13.2182 6.81342 13.2823 6.9816 13.3132C7.14979 13.3442 7.32245 13.3429 7.48948 13.3063Z" fill="currentColor"/>
            </g>
            <defs>
            <clipPath id="clip0_104_45">
            <rect width="24" height="24" fill="white"/>
            </clipPath>
            </defs>
        </svg>

        </a>
    {% endif %}
    {% if settings.twitter_url %}
        <a href="{{ settings.twitter_url }}" target="_blank" class="relative  text-secondary-navy hover:bg-primary-lightblue text-lg font-extrabold uppercase border-2 border-secondary-navy px-5 py-[10px] rounded-[5px] flex items-center gap-[5px] 
        shadow-[3px_3px_0px_0px_#f5f5f5,3px_3px_0px_2px_#003354] hover:shadow-[6px_8px_0px_0px_#0b4166,6px_8px_0px_2px_#003354] hover:translate-x-[-3px] hover:translate-y-[-3px] transition duration-200">
        X
<svg class="w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
  <path d="M357.2 48L427.8 48 273.6 224.2 455 464 313 464 201.7 318.6 74.5 464 3.8 464 168.7 275.5-5.2 48 140.4 48 240.9 180.9 357.2 48zM332.4 421.8l39.1 0-252.4-333.8-42 0 255.3 333.8z"/>
</svg>

        </a>
    {% endif %}